@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #212529;
        background-color: #edf0fc;
    }
}
